body {
    background-color: #f2f2f2;
    background-image: url("sky.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    font-family: 'Bruno Ace SC', cursive;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    font-size: 50px;
    text-align: center;
    color: #ffffff;
    text-shadow: 6px 9px 9px #000000;
  }
  
  .form-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  #city-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
    align-self: center;
  }
  
  #submit-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-self: center;
    margin-left: 5px;
  }
  
  .weather-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(4,245,214);
    background: radial-gradient(circle, rgba(4,245,214,1) 32%, rgba(0,10,10,1) 100%);
    border-radius: 4px;
    padding: 20px;
  }
  
  #city-photo {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
    background-image: url("sun.jpg");
    background-position: center;
  }
  
  #weather-info {
    text-align: center;
  }
  .weather-item {
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 5px;
    width: 250px;
    background-color:transparent;
    box-shadow: 40px 40px 50px -10px violet inset;

  }
  #day {
    font-size: 30px;
    font-weight: bold;
    text-shadow: 0px -4px 7px white;
  }
  #temp {
    font-size: 30px;
    font-weight: bold;
  }
  #min {
    font-size: 14px;
    color: white;
    font-weight: bold;
    text-shadow: 0px -4px 7px rgb(0, 0, 0);
  }
  #max{
    font-size: 14px;
    color: white;
    font-weight: bold;
    text-shadow: 0px -4px 7px rgb(0, 0, 0);
  }
  #footer {
    font-size: small;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-shadow: 3px 3px 3px #000000;
}
  
  @media (max-width: 600px) {
    .form-container {
      flex-direction: column;
      align-items: flex-start;
    }
  
    #city-input {
      width: 80%;
      margin-bottom: 10px;
    }
  
    #submit-btn {
      width: 100%;
    }
  }
  